.DS_Store

media/*
!media/index.html
!media/.htaccess
!media/.gitignore

resources/sitemaps/*
!resources/sitemaps/index.html
!resources/sitemaps/.htaccess

resources/cache/*
!resources/sitemaps/index.html
!resources/sitemaps/.htaccess

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess